<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body th:style="'background: url(/wal2.jpg) no-repeat center center fixed;'">

<header th:insert="blocks/header :: header"></header>
<!--    <p th:text="'Привет, ' + ${title} + '!'" />-->

<div class="container mt-5 mb-5">
    <h1>Редагування статті</h1>
    <div th:each="el : ${post}">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Введыть назву статі" class="form-control"><br>
            <input type="text" th:value="${el.anons}"name="anons" placeholder="Введіть анонс статті" class="form-control"><br>
            <textarea  name="full_text" placeholder="Введите полный текст статьи" class="form-control" th:text="${el.full_text}"/><br>
            <button type="submit" class="btn btn-dark">Оновити</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>