<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Блог сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<!--    <p th:text="'Привет, ' + ${title} + '!'" />-->

<div class="container mt-5">
  <div th:each="el : ${post}" class="alert alert-info mt-2" >
    <h3 th:text="${el.title}"></h3>
    <p th:text="${el.full_text}"></p>
    <p><b>Перегляди: </b><span th:text="${el.views}"/></p>
    <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редагувати</a>
    <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
      <br><button class="btn btn-warning" type="submit">Видалити</button>
    </form>
  </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>