<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Блог сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body th:style="'background: url(/y.jpeg) no-repeat center center fixed;'">

<header th:insert="blocks/header :: header"></header>
<!--    <p th:text="'Привет, ' + ${title} + '!'" />-->

<div class="container mt-5 pb-20 mb-4 mb-sm-3">
  <h1>Додавання статті</h1>
  <form action="/blog/add" method="post" >

      <input type="text" name="title" placeholder="Введіть назву статті" class="form-control"><br>
      <input type="text" name="anons" placeholder="Введіть анонс статті" class="form-control"><br>
      <textarea name="full_text" placeholder="Введіть повний текст статті" class="form-control"></textarea><br>

      <button type="submit" class="btn btn-success">Додати статтю</button>
  </form>


</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>