<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<!--    <p th:text="'Привет, ' + ${title} + '!'" />-->

<div class="container mt-5 bg-gradient-warning text-dark">
    <h1>Блог сайта</h1>

    <div th:each="el : ${posts}" class="alert alert-info mt-4" >
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.anons}"></p>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Детальніше</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>