<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

</head>

<body>
<header th:insert="blocks/header :: header"></header>
<!--    <p th:text="'Привет, ' + ${title} + '!'" />-->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" th:style="'background: url(/Study.png) no-repeat center right fixed;'">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal text-black">Spring Framework</h1>
        <p class="lead fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <button type="button" class="btn btn-primary btn-lg">Coming soon</button>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>

<!--    так теж працює-->
<!--    <img src="Study.png" alt="image1" />-->


<!--    <img th:src="@{/Hirerring.png}" alt="image" width="500" height="300"/>-->

    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>





<div class="container px-4 py-5 mb-40" id="custom-cards">
    <h2 class="pb-2 border-bottom">Our achievements</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 mb-40">
        <div class="col">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>

            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" th:style="'background: url(bit.SVG) no-repeat center;'">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" th:style="'background: url(to.SVG) no-repeat center;'">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                </div>
            </div>
            <h2 class="pt-3 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
        </div>

        <div class="col">

            <h2 class="pt-5 mt-20 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" th:style="'background: url(кот.SVG) no-repeat center;'">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>




<div > <br><br>
    <br>
    <br><br></div>





<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="4.PNG" alt="image1"  class="bd-placeholder-img card-img-top" width="60%" height="350" />
<!--                    <svg class="bd-placeholder-img card-img-top" width="60%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning">View</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="sec1.PNG" alt="image1"  class="bd-placeholder-img card-img-top" width="60%" height="350" />
<!--                    <svg class="bd-placeholder-img card-img-top" width="60%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning">View</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="work6.png" alt="image1"  class="bd-placeholder-img card-img-top" width="60%" height="350" />
<!--                    <svg class="bd-placeholder-img card-img-top" width="60%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning">View</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="work4.png" alt="image1"  class="bd-placeholder-img card-img-top" width="60%" height="350" />
<!--                    <svg class="bd-placeholder-img card-img-top" width="60%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning">View</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="talk.png" alt="image1"  class="bd-placeholder-img card-img-top" width="60%" height="350" />
<!--                    <svg class="bd-placeholder-img card-img-top" width="60%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning">View</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="work3.png" alt="image1"  class="bd-placeholder-img card-img-top" width="60%" height="350" />
<!--                    <svg class="bd-placeholder-img card-img-top" width="60%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning">View</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

            </div>
        </div>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>