<div th:fragment="header">
    <div class="container">
<!--        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">-->
<!--            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">-->
<!--                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
<!--                <span class="fs-4">Blog</span>-->
<!--            </a>-->

<!--            <ul class="nav nav-pills">-->
<!--                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>-->
<!--                <li class="nav-item"><a href="/blog" class="nav-link">Блог</a></li>-->
<!--                <li class="nav-item"><a href="/blog/add" class="nav-link">Добавить статью</a></li>-->
<!--                <li class="nav-item"><a href="/about" class="nav-link">Про нас</a></li>-->
<!--            </ul>-->
<!--        </header>-->
<div class="d-flex flex-wrap justify-content-center py-3 mb-2 border-bottom container px-4">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">JavaBlog</a>
                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/add">Додати статтю</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">Про нас</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search"  >
                        <button class="btn btn-outline-warning" type="submit">Пошук</button>
                    </form>
                </div>
            </div>
        </nav>
</div>


    </div>
</div>